<% target.each do |note| %>
  <tr id="note_<%= note.id %>">
    <td>
      <%= link_to note.title,edit_note_path(note),remote: true %>
      <!-- <a class="glyphicon glyphicon-trash note-delete" title="删除" aria-hidden="true"></a> -->
      <%= link_to '',note_path(note),class: 'glyphicon glyphicon-trash note-delete',remote: true,title: "删除",method: :delete,data: {confirm: "是否确定删除？"} %>
    </td>
  </tr>
<% end %>